{% extends "base.html" %}

{% block contents %}
<div class="container">
    <div>
        <button type="button" onclick="location.href='/'">home</button>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>팀 등록</h1>
            <h6>팀 등록이 되지 않은 경우 회원가입이 불가능합니다.</h6>
        </div>
    </div>
    <div class="row mt-5">
        <form method="POST" action=".">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" 
                placeholder="{{ field.help_text }}" name="{{ field.name }}" />
            </div>
            {% if field.errors %}
            <span style="color: red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">신청</button>
        </form>
    </div>
</div>
{% endblock %}